[user]
	name = Vladimir Romashchenko
	email = eaglesemanation@gmail.com
	signingkey = eaglesemanation@gmail.com
[pull]
	rebase = false
[commit]
	gpgsign = true
[merge]
	tool = vimdiff3
	path = nvim
[core]
	editor = nvim
